<h2>
    Adicionar Material
</h2>


<table>  
    <tr>
        <td>
            Nome do Arquivo
        </td>
        <td>
            <input [(ngModel)]="name" name="namebox">
        </td>
        <td>
            Tipo do arquivo
        </td>
        <td>
            <input [(ngModel)]="tipo" name="tipobox">
        </td>
        <td>
            Link para o arquivo
        </td>
        <td>
            <input [(ngModel)]="link" name="linkbox">
        </td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: right;">
            <button (click)="adMaterial(material)" name="materialbutton">Confirmar</button>
        </td>
    </tr>
    
</table>