<h2>
    Criar conta
</h2>
<table>
    <tr>
        <td>
            Nome: 
        </td>
        <td>
            <input [(ngModel)]="name" name="namebox">
        </td>
    </tr>
    <tr>
        <td>
            Email: 
        </td>
        <td>
            <input [(ngModel)]="email" name="emailbox">
        </td>
    </tr>
    <tr>
        <td>
            Senha: 
        </td>
        <td>
            <input [(ngModel)]="psw" name="passwordbox">
        </td>
    </tr>
    <tr>
        <button (click)="createAccount(user)">Confirmar</button>
    </tr>
</table>